
{%extends 'base_foot.html'%}
{% block head %}
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天水果!</div>
			<div class="fr">
				{%if request.session.user_name|default:'' != ''%}
				<div class="login_btn fl">
					欢迎您：<em>{{request.session.user_name}}</em>
					<span>|</span>
					<a href="/user/logout/">退出</a>
				</div>
				{%else%}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				{%endif%}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="/goods/" class="logo fl"><img src="/static/images/logo1.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<!--<input type="text" class="input_text fl" name="" placeholder="搜索商品">-->
			<!--<input type="button" class="input_btn fr" name="" value="搜索">-->
			<form method='get' action='/goods/search/' target='_blank'>
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr"  value="搜索">
			</form>
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" class="active">· 个人信息</a></li>
				<li><a href="/user/order/">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{user_name}}</li>
							<li><span>联系方式：</span>{{user_phone}}</li>
							<li><span>联系地址：</span>{{user_address}}</li>
						</ul>
				</div>

				<h3 class="common_title2">最近浏览</h3>

				<div class="has_view_list">
					<ul class="goods_type_list clearfix">

						{%if goods_list%}

						{%for good in goods_list%}
						<li>
					<a href="/goods/{{good.id}}"><img src="/static/{{good.gpic}}"></a>
					<h4><a href="/goods/{{good.id}}">{{good.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.gprice}}</span>
						<span class="unit">{{good.gprice}}/{{good.gunit}}</span>
						<a href="/cart/add{{good.id}}_1/" class="add_goods" title="加入购物车"></a>
					</div>
						</li>
						{%endfor%}
						{%endif%}
					</ul>
				</div>
		</div>
	</div>
{%endblock head %}
{% block body %} {%endblock body%}

